<h1> 購入履歴 </h1>
<% @orders.each do |order| %>
  <p> 購入日: </p>
  <p> お届け先: <%= order.postal_code %> <%= order.address %> <%= order.address_name %> </p>
  <% order.order_items.each do |order_item| %>
    <%= attachment_image_tag order_item.product, :jacket_image, :fill, 100, 100, :class => 'img-circle', fallback: "no_image.jpg" %>
    <%= order_item.product.product_name %>
    <%= order_item.price %>
    <%= order_item.count %>
    <%= link_to "レビューを書く", "#" %>
  <% end %>
  <p> 購入枚数: <%= order.total_count %>枚 </p>
  <p> 合計金額: <%= order.total_price %>円 </p>
  <p> 発送状況: </p>
<% end %>
