<% @total_fee = 0 %>
<% @delivery_fee = 200 %>
<% @total_fee = @order.total_price - @delivery_fee %>

<h1> 購入詳細 </h1>
<table class="table table-striped">
	<thead>
		<th>購入者: <%= @order.user.full_name(@order.user) %></th>
		<th>購入日: </th>
		<th></th>
		<th>発送状況：
			<% if @order.delivery_status == 0 %>
				配送前
			<% elsif @order.delivery_status == 1 %>
				配送中
			<% else @order.delivery_status == 2 %>
				配送済み
			<% end %>
		</th>
		<th><%= link_to '購入一覧へ戻る', orders_path %></th>
	</thead>

	<tbody>
		<tr>
			<th></th>
			<th>商品名</th>
			<th>価格</th>
			<th>枚数</th>
			<th></th>
		</tr>
		<% @order.order_items.each do |order_item| %>
		<tr>
			<th><%= attachment_image_tag order_item.product, :jacket_image, :fill, 100, 100, :class => 'img-circle', fallback: "no_image.jpg" %></th>
			<th><%= order_item.product.product_name %></th>
			<th><%= order_item.price %></th>
			<th><%= order_item.count %></th>
			<th></th>
		</tr>
		<% end %>
	</tbody>

	<tfoot>
		<th>購入枚数: <%= @order.total_count %>枚</th>
		<th>商品の小計: <%= @total_fee %>円<br>送料: <%= @delivery_fee %>円</th>
		<th>合計金額: <%= @order.total_price %>円</th>
		<th><% if @order.option == 0 %>
				支払い方法: 現金
			<% elsif @order.option == 1 %>
				支払い方法: クレジットカード
			<% end %>
		</th>
		<th><% if @order.delivery_status == 0 %>
				発送状況: 配送前
			<% elsif @order.delivery_status == 1 %>
				発送状況: 配送中
			<% else @order.delivery_status == 2 %>
				発送状況: 配送済み
			<% end %>
		</th>
	</tfoot>
</table>
