<div id="product">
<h2 class="">商品詳細</h2>

	<div class="wrapper clearfix">
		<div class="jacket-img-circle">
		<%= attachment_image_tag @product, :jacket_image, :fill, 80, 80, :class => 'img-circle', fallback: "no_image.jpg" %>
		</div>

		<div class="left-contents">
			<div class="product-artitst-name">
				アーティスト名：<%= @product.artist.name %>
			</div>

			<div class="product-name">
				アルバム名：<%= @product.product_name %>
			</div>

			<div class="product-price">
				価格：<%= @product.price %>
			</div>

			<div class="product-label-name">
				レーベル名：<%= @product.label.name %>
			</div>

			<div class="product-genre-name">
				ジャンル：<%= @product.genre.name %>
			</div>

			<div class="product-song-name">
				<% @discs.each do |disc| %>
					曲名：
					<% disc.songs.each do |song| %>
						<div>
							<%= song.song_order %>
							 <%= song.name %>
						</div>
					<% end %>
				<% end %>
			</div>

			<div class="product-stock">
				在庫数：<%= @product.stock %>
			</div>

			<div class="product-status">
				ステータス：<%= @product.sell_status %>
			</div>
		</div>


		<div class="right-contents"></div>
	</div>

	<%= link_to "商品一覧へ戻る", products_path %>
	<%= link_to "カートに入れる", cart_path, method: :post, product_id: @product.id, discs: @discs %>
</div>
